.footer {
    margin-top: 81px;
    color: #ffffff;
    background-image: linear-gradient(180deg, #2154a0 0%, #105ccc 100%), url(../image/footer-city-opaque.png);
    background-size: auto 100%;
    background-blend-mode: darken;
}

.footer__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    padding: 46px 0 31px 0;
    padding-right: var(--bs-gutter-x, 14px);
    padding-left: var(--bs-gutter-x, 14px);
    margin-right: auto;
    margin-left: auto;
    max-width: 1314px;
}

.footer__column-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 28px;

}

.footer__column-links :hover {
    color: #c2cacf;
}

.footer__column-link {
    color: #ffffff;
    text-decoration: none;
}

.footer__author {
    font-size: 11px;
    line-height: 16px;
    margin: 0;
}

.footer__column-links-first {
    padding: 12px 0 19px 0;
    margin-bottom: 16px;
}

.footer__column:nth-child(n+2) {
    padding-top: 14px;

}

.footer__contact {
    padding: 4px 0 14px 0;
    white-space: nowrap;
    color: #e0e0e0;
    font-size: 12px;
    line-height: 18px;
}

.footer__number {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.footer__text {
    margin: 0;
}

.footer__social {
    padding-top: 16px;
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 950px) {
    .footer__column-hidden {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .footer__columns {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .footer__column:nth-last-child(2n+1) {
        display: none;
    }
}