.header {
    position: relative;
    width: 100%;
    height: 150px;
    padding-top: 15px;
    background-image: url(../image/header-flag-opaque.png), linear-gradient(180deg, #2154a0 0%, #105ccc 100%);
    background-repeat: no-repeat, repeat;
    background-size: 553px 281px, 100% 100%;
    background-position: -72px -61px, 0 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 576px) {
    .header {
        height: 100px;
        padding-top: 30px;
        background-size: 295px 152px, 100% 100%;
        background-position: -36px -22px, 0 0;
    }
}

.header__container {
    display: flex;
    width: 100%;
    max-width: 1314px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    align-items: center;

}

.header__logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 576px) {
    .header__logo img {
        width: 157px;
        height: 49px;
    }
}

@media screen and (max-width: 576px) {
    .header__logo>img {
        display: none;
    }
}